<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <body>
     <div class="container">
         <div class="row justify-content-center">
             <div class="col-md-12 text-center">
              <form action = "/add1" method = "POST">
                <p><h3>This is Page 1 of the website</h3></p>
                 <p><input type = 'submit' value = 'Item 1'/></p>
              </form>
              <form action = "/add2" method = "POST">
                 <p><input type = 'submit' value = 'Item 2'/></p>
              </form>
              <form action = "/add3" method = "POST">

                 <p><input type = 'submit' value = 'Item 3'/></p>
              </form>
              <a href="/second" class="btn btn-link">Move to page 2</a>
              <a href="/getcookie" class="btn btn-link">Checkout</a>
              <a href="/clear" class="btn btn-link">Clear Cart</a>
            </div>
          </div>
        </div>
   </body>
</html>
