<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <body>
     <div class="container">
             <div class="col-md-12 text-center">
              <form action = "/add4" method = "POST">
                <p><h3>This is Page 2 of the website</h3></p>
                 <p><input type = 'submit' value = 'Item 4'/></p>
              </form>
              <form action = "/add5" method = "POST">
                 <p><input type = 'submit' value = 'Item 5'/></p>
              </form>
              <form action = "/add6" method = "POST">

                 <p><input type = 'submit' value = 'Item 6'/></p>
              </form>
              <a href="/" class="btn btn-link">Move to page 1</a>
              <a href="/getcookie" class="btn btn-link">Checkout</a>
              <a href="/clear" class="btn btn-link">Clear Cart</a>

            </div>
          </div>
        </div>
   </body>
</html>
