<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <body>
     <div class="container">
         <div class="row justify-content-center">
             <div class="col-md-12 text-center">
              <form action = "/setcookie" method = "POST">
                 <p><h3>Enter a User Id and I'll save it as a cookie</h3></p>
                 <p><input type = 'text' name = 'nm'/></p>
                 <p><input type = 'submit' value = 'Login'/></p>
              </form>
            </div>
          </div>
        </div>
   </body>
</html>
